.vcard{
  background-color: rgb(93, 138, 210);
}
.vcard2{
  background-color: rgb(161, 93, 210);
}
.vinput{
  background-color: beige;
}
.vbutton{
  background-color: #e42e3d70;
}
.vbuttonDel{
  background-color: #e42e3d;
}

.formB{
  background-color: rgb(13, 125, 153);
}
